@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, there!</h1>

Welcome to HAI Medical - an appointment scheduling online system. This allows patients to register, schedule appointments, and manage their health records seamlessly.
